{% extends 'layout.html' %} {% block main %}
<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo"
                class="img-fluid rounded-start"
              />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-4 text-uppercase">Student Registration Form</h3>
                <form method="POST" action="{{ url_for('main.signuPage') }}">
                  {{ form.hidden_tag() }}
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <div class="form-outline">
                        {{ form.first_name.label(class="form-label-inline mb-2")
                        }} {{ form.first_name(class="form-control-inline
                        form-control-lg") }}
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <div class="form-outline">
                        {{ form.last_name.label(class="form-label mb-2") }} {{
                        form.last_name(class="form-control-inline
                        form-control-lg") }}
                      </div>
                    </div>
                  </div>

                  <div class="form-outline mb-3">
                    {{ form.email(class="form-control-inline w-100
                    form-control-lg") }}
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <div class="form-outline">
                        {{ form.password.label(class="form-label mb-2") }} {{
                        form.password(class="form-control-inline form-control-lg
                        b-1") }}
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <div class="form-outline">
                        {{ form.confirm_password.label(class="form-label mb-2")
                        }} {{ form.confirm_password(class="form-control-inline
                        form-control-lg") }}
                      </div>
                    </div>
                  </div>

                  <div class="mb-3">
                    <h6 class="mb-2">Gender:</h6>
                    {% for subfield in form.gender %}
                    <div class="form-check form-check-inline">
                      {{ subfield(class="form-check-input-inline") }} {{
                      subfield.label(class="form-check-label-inline") }}
                    </div>
                    {% endfor %}
                  </div>

                  <div class="form-outline mb-3">
                    {{ form.dob.label(class="form-label mb-2") }} {{
                    form.dob(class="form-control-inline form-control-lg",
                    type="date") }}
                  </div>

                  <div class="form-outline mb-3">
                    {{ form.pincode.label(class="form-label mb-2") }} {{
                    form.pincode(class="form-control-inline form-control-lg") }}
                  </div>

                  <div class="form-outline mb-3">
                    {{ form.occupation.label(class="form-label mb-2") }} {{
                    form.occupation(class="form-contro-inline form-control-lg")
                    }}
                  </div>
                  {% if form.errors %}
                  <div class="alert alert-danger">
                    <ul>
                      {% for field, errors in form.errors.items() %} {% for
                      error in errors %}
                      <li>
                        {{ error }} {% if message %}
                        <h5>{{message}} please login</h5>
                        <a href="{{ url_for('main.loginPage' ) }}">Login</a>
                        {% endif %}
                      </li>
                      {% endfor %} {% endfor %}
                    </ul>
                  </div>
                  {% endif %}
                  <div class="d-flex justify-content-between">
                    <button type="reset" class="btn btn-secondary btn-lg">
                      Reset
                    </button>
                    <input type="submit" class="btn btn-primary btn-lg" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
